<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>DAMCorp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewPlayer</display-name>
    <servlet-name>NewPlayer</servlet-name>
    <servlet-class>servlet.NewPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPlayer</servlet-name>
    <url-pattern>/NewPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrievePlayer</display-name>
    <servlet-name>RetrievePlayer</servlet-name>
    <servlet-class>servlet.RetrievePlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrievePlayer</servlet-name>
    <url-pattern>/RetrievePlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveUpdatePlayer</display-name>
    <servlet-name>RetrieveUpdatePlayer</servlet-name>
    <servlet-class>servlet.RetrieveUpdatePlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveUpdatePlayer</servlet-name>
    <url-pattern>/RetrieveUpdatePlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlayer</display-name>
    <servlet-name>UpdatePlayer</servlet-name>
    <servlet-class>servlet.UpdatePlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlayer</servlet-name>
    <url-pattern>/UpdatePlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveMate</display-name>
    <servlet-name>RetrieveMate</servlet-name>
    <servlet-class>servlet.RetrieveMate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveMate</servlet-name>
    <url-pattern>/RetrieveMate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>